body{
	margin: 0;
	background-color:#ffffd1;
	font-family: Helvetica, Arial, sans-seif;
	text-align: center;
	font-size: 15px;
	line-height: 30px;
}

header{
	background-color:#DDDDDD;
	border-bottom: 5px solid black;
	border-top: 5px solid black;
}

header h1{
	color: solid black;
	font-size: 50px;
}

h2{
	color: white;
	font-size: 30px;
	line-height: 70px;
	background-color:#8190A5;
	border-radius: 20px;
}

main{
	max-width: 800px;
	margin: 0 auto;
	border-left: 2px dotted grey;
	border-right: 2px dotted grey;
	padding: 20px 100px 20px 100px;
	background-color: #ffffe1;
}

main.mindtech img{
	max-width: 800px;
	margin: -50px auto;
}

main.lovelive img{
	max-width: 800px;
}

main.tekken img{
	max-width: 800px;
}

main.knowque img{
	max-width: 800px;
}

main.gladiators img{
	max-width: 800px;
}

main.nexus img{
	max-width: 800px;
	margin: -50px auto;
}

main.typo img{
	max-width: 800px;
}

main.headphones img{
	max-width: 800px;
}

main.openturn img{
	max-width: 800px;
}

main.cafe img{
	max-width: 800px;
}

table{
	text-align: left;
	margin-left: 70px;
}

td{
	height: 110px;
}